<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.titulo}}</title>
</head>
<body>
    
    <H1>Prueba de la creacion de la pagina </H1>
    <p> el contenido de la variable data : {{data}}</p>
    <p>indice bienvenida : {{data["bienvenida"]}}</p>
    <p>cuantos cursos hay {{data.cantidad_curos}}</p>
    <p>y son : {{data.cursos}}</p>

    <ul>
        {% for i in data.cursos %}
            <li>{{ i }}</li>
        {% endfor %}
    </ul>
</body>
</html>